# 설정 예시입니다.
# 이 파일을 사용하는 것이 아니라 .env 파일을 만들어 사용하세요.

# Timezone
TZ=Asia/Seoul
# UNABLE_TO_VERIFY_LEAF_SIGNATURE 에러 발생 시 0으로 설정하세요.
NODE_TLS_REJECT_UNAUTHORIZED=1

# Next.js
# 기본 URL 설정
NEXT_PUBLIC_URL=http://localhost
# 포트 설정
PORT=3000

# MariaDB
# 접속 정보
MARIADB_HOST=
MARIADB_PORT=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=
# 커넥션 로그 설정
MARIADB_CONN_LOG=0

# Playwright 통합 테스트
# show-report 기본 경로 설정
PLAYWRIGHT_HTML_OUTPUT_DIR=e2e/report

# Auth.js
# pnpm dlx auth secret 실행 후 .env.local의 AUTH_SECRET을 복사하여 여기에 붙여넣어주세요.
# Read more: https://cli.authjs.dev
AUTH_SECRET=
AUTH_TRUST=true